* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid white;
}

.kitney-img {
    width: 400px;
    float: right;
}

.sky-img {
    width: 200px;
    float: right; 
}

.sky-img1 {
    width: 200px;
}

.customs-img {
    width: 200px;
}

.customs-img {
    width: 200px;
}

.mshs-img {
    width: 200px;
    float: right; 
}

.qut-img {
    width: 200px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 280vh;
    width: 80px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;

}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
    white-space: nowrap;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    background-color: white;
    white-space: nowrap;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: white;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

footer {
    background-color: #12171e;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem; /* Increased padding */
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 1.2rem; /* Increased font size */
    z-index: 5;
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; /* Increased gap between links */
}

footer .links a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer .links a:hover {
    color: #f1c40f;
}


:root{ --main-color: #0883FF; }
.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    padding: 60px 0 0 0;
    margin: 0 5px 25px 0;
    float: left;
}
.main-timeline .timeline-content{
    min-height: 100px;
    padding: 0 15px 0 0;
    border-right: 2px solid var(--main-color);
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: '';
    background-color: var(--main-color);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: 0;
}
.main-timeline .timeline-content:after{
    top: auto;
    bottom: 0;
}
.main-timeline .timeline-year{
    color: #fff;
    background-color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 3px 20px 3px 50px;
    position: absolute;
    right: -2px;
    top: -60px;
    z-index: 1;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 50%);
}
.main-timeline .title{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 7px;
}

.main-timeline .title1{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 7px;
    text-align: right;
}

.main-timeline .description{
    color: #555;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.5px;
    margin: 0;
}

.main-timeline .description1{
    color: #555;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.5px;
    margin: 0;
}

.main-timeline .timeline:nth-child(even){
    margin: 0 0 25px 5px;
    float: right;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    text-align: left;
    padding: 0 0 0 15px;
    border-left: 2px solid var(--main-color);
    border-right: none;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before,
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    right: auto;
    left: -4px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: -2px;
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
}
.main-timeline .timeline:nth-child(2){ --main-color: #4e63d8; }
.main-timeline .timeline:nth-child(3){ --main-color: #27038b; }
.main-timeline .timeline:nth-child(4){ --main-color: #64b5f7; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 25px;
    }
}